@charset "UTF-8";
:root {
  --primario: #00e600;
  --secundario: #33cc33;
}

.header_titulo span {
  color: #33cc33;
}

.text-footer {
  color: white;
}

.titulo-prod {
  color: white;
}

.header_titulo h2 {
  color: black;
  font-family: 'Kodchasan', sans-serif;
}

.nav-link {
  color: #33cc33;
}

.navbar {
  border-top: 1px solid #33cc33;
  border-bottom: 1px solid #33cc33;
  font-family: 'Kodchasan', sans-serif;
}

.imagen-bg {
  background-repeat: no-repeat;
  background-position: center;
}

.imagen-principal {
  background-image: url(../img/2525254.jpg);
  height: 20rem;
  background-size: cover;
}

.categorias h2 {
  font-size: 2.5rem;
  color: #fcfcfc;
  font-family: 'Kodchasan', sans-serif;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.categorias a {
  font-weight: 500;
  color: #fafcfa;
  text-decoration: none;
  font-family: 'Kodchasan', sans-serif;
}

.nosotros .img-container2 {
  min-height: 17rem;
}

.img-container1 {
  background-image: url(../img/LogoEmpresa.jpg);
  min-height: 25rem;
  max-height: 30rem;
  max-width: 50rem;
}

.img-container2 {
  background-image: url(../img/fullstack2.jpg);
  min-height: 17rem;
}

.btn-success {
  background-color: #33cc33 !important;
}

/* Inicia Pie de Página */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: blue;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 30px;
  color: white;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer-content h1 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.redes_sociales {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0 3rem 0;
}

.redes_sociales li {
  margin: 0 10px;
}

.redes_sociales a {
  text-decoration: none;
  color: #fff;
}

.redes_sociales a i {
  font-size: 1.1rem;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

.redes_sociales a:hover i {
  color: aqua;
}

.footer-bottom {
  background: grey;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

/* Finaliza Pie de Página */
.container_blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.container_blog-header--logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.container_blog-header--logo:hover {
  text-decoration: none;
}

/*h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif; }*/
.habilidades {
  -webkit-animation: bounce;
          animation: bounce;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.container-productos {
  -webkit-animation: flip;
          animation: flip;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.display-4 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}

@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

.blog-pagination {
  margin-bottom: 4rem;
}

.blog-pagination > .btn {
  border-radius: 2rem;
}

.blog-post {
  margin-bottom: 4rem;
}

.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/* .blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5; } */
.blog-footer p:last-child {
  margin-bottom: 0;
}

.contacto {
  font-family: 'Kodchasan', sans-serif;
  color: blue;
  font-size: 200%;
}

.miUbicacion {
  font-family: 'Kodchasan', sans-serif;
  color: #faf8f8;
  font-style: normal;
}

.form {
  font-family: 'Roboto', sans-serif;
  color: #faf8f8;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Kodchasan', sans-serif;
}

body {
  background: #6f8ca7;
}

.container-all {
  /*max-width: 1000px; */
  margin: auto;
  /* margin-top: 0px; */
  background-color: #0084ff;
}

.main-title {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  color: white;
}

.container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-box a {
  text-decoration: none;
  color: black;
}

.box {
  width: 250px;
  height: 180px;
  padding: 20px;
  margin: 20px;
  border-radius: 5%;
  background: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.box:hover {
  -webkit-transform: translate(5px, -5px);
          transform: translate(5px, -5px);
  -webkit-box-shadow: -10px 10px 20px -10px rgba(0, 0, 0, 0.5);
          box-shadow: -10px 10px 20px -10px rgba(0, 0, 0, 0.5);
}

.box .icon,
.box h4,
.box p {
  position: relative;
  z-index: 1;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.box .icon {
  font-size: 40px;
  color: #18d37c;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.box:hover .icon {
  color: white;
  font-size: 30px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.box h4,
.box p {
  margin-top: 10px;
}

.box h4 {
  font-size: 30px;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.box:hover h4 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  color: white;
}

.box p {
  font-size: 14px;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
}

.box:hover p {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  color: white;
}

.box .background-hover {
  width: 100px;
  height: 100px;
  background: red;
  position: absolute;
  top: 250px;
  left: -170px;
  border-radius: 100%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff7300), to(#ff9430));
  background: linear-gradient(to bottom, #ff7300, #ff9430);
}

.box:hover .background-hover {
  width: 400px;
  height: 400px;
  top: -70px;
  left: -70px;
}

/* Cambiar color de las diferentes cajas*/
/* Box1 */
.box1 .icon {
  color: #5c3c1a;
}

.box1 .background-hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#cab280), to(#291b02));
  background: linear-gradient(to bottom, #cab280, #291b02);
  top: -250px;
  left: -250px;
}

/* Box2 */
.box2 .icon {
  color: #c5a800;
}

.box2 .background-hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#c5a800), to(#cf00ea));
  background: linear-gradient(to bottom, #c5a800, #cf00ea);
  top: -170px;
  left: -250px;
}

/* Box3 */
.box3 .icon {
  color: #0c00f0;
}

.box3 .background-hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#0314fc), to(#00f0b0));
  background: linear-gradient(to bottom, #0314fc, #00f0b0);
  top: -170px;
  left: 500px;
}

/* Box4 */
.box4 .icon {
  color: #9f6bdc;
}

.box4 .background-hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#aa00ff), to(#051866));
  background: linear-gradient(to bottom, #aa00ff, #051866);
  top: -170px;
  left: 500px;
}

/* Box5 */
.box5 .icon {
  color: #afab3bd7;
}

.box5 .background-hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#afab3bd7), to(#aa4109));
  background: linear-gradient(to bottom, #afab3bd7, #aa4109);
  top: -170px;
  left: -500px;
}

/* Box6 */
.box6 .icon {
  color: #ea003f;
}

.box6 .background-hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fc0346), to(#e983bb));
  background: linear-gradient(to bottom, #fc0346, #e983bb);
  top: -170px;
  left: -500px;
}

/* Box7 */
.box7 .icon {
  color: #3dc315;
}

.box7 .background-hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#3dc315), to(#fda22a));
  background: linear-gradient(to bottom, #3dc315, #fda22a);
  top: -50px;
  left: 500px;
}

/* Box8 */
.box8 .icon {
  color: #ea6500;
}

.box8 .background-hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ea6500), to(#f9fd2a));
  background: linear-gradient(to bottom, #ea6500, #f9fd2a);
  top: -50px;
  left: 500px;
}

/* Box9 */
.box9 .icon {
  color: #03f7ca;
}

.box9 .background-hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#03f7ca), to(#fd2a2a));
  background: linear-gradient(to bottom, #03f7ca, #fd2a2a);
}

/* Box10 */
.box10 .icon {
  color: #338a5d;
}

.box10 .background-hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ad95df), to(#266846));
  background: linear-gradient(to bottom, #ad95df, #266846);
}

/* Box11 */
.box11 .icon {
  color: #ea00e2;
}

.box11 .background-hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f09eed), to(#350250));
  background: linear-gradient(to bottom, #f09eed, #350250);
  top: 170px;
  left: 500px;
}

/* Box12 */
.box12 .icon {
  color: #ff006f;
}

.box12 .background-hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#dd0f0f), to(#ffa700));
  background: linear-gradient(to bottom, #dd0f0f, #ffa700);
  top: 170px;
  left: 500px;
}

/* hasta aqui termina el efecto nuevo de hover avanzado */
.portfolio #portfolio-flters {
  list-style: none;
  margin-bottom: 20px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 8px 20px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  background: #47b2e4;
  color: #fff;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-img {
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  bottom: 0;
  z-index: 3;
  right: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: rgba(55, 81, 126, 0.8);
  padding: 10px 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #f9fcfe;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link, .portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover, .portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #47b2e4;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-img img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}

/* Inicio de sección Contacto */
.container_contacto {
  margin: 2em auto;
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
  position: relative;
  top: 10px;
}

.imagen-bg {
  background-repeat: no-repeat;
  background-position: center;
}

.imagen-principal {
  background-image: url(../img/2525254.jpg);
  height: 20rem;
  background-size: cover;
}

.miUbicacion {
  text-align: center;
  color: black;
}

.form {
  position: relative;
  left: 20px;
  color: black;
}

/* Finaliza la sección Contacto */
/*# sourceMappingURL=style.css.map */